<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="frameworks/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
        crossorigin="anonymous"></script>
    <script src="frameworks/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Shop</title>
</head>

<body>
    <div class="cart-app">
        <div class="header">
            <div class="header-cont">
                <a href="about.html" class="nav_about">ABOUT US</a>
                <!-- <a href="#" class="nav_faq">FAQ</a> -->
                <a href="index.html" class="nav_shop">SHOP</a>
                <a href="index.html" class="nav_logo"> FASHION SOCKS</a>
                <div>
                    <i class="fas fa-shopping-cart img_nav_cart"></i>
                    <a href="/myCart" class="nav_cart">CART({{cart.length}})</a>
                </div>
                <a v-if="!is_user" href="login.html" id='login' class="nav_cart"> LOGIN</a>
                <div v-if="is_user" class="dropdown">
                    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#" id='exitFromProfile'>Sign out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-cont">
            <div class="cart-items" v-if="cart.length">
                <div class="cart-title">
                    Shopping Cart
                </div>
                <transition-group name="fade">
                    <div class="cart-item" v-for="(item, index) in cart" v-bind:key="item">
                        <a @click="delete_from_cart(index)">
                            <i class="fas fa-times fa-2x cart-delete"></i>
                        </a>
                        <img v-if="isValidUrl(index)" :src="item.user_picture" class="cart-bg-socks">
                        <img v-else src="http://placehold.it/170x120/" class="cart-bg-socks">
                        <div class="cart-text-item cart-info-block">
                            Socks {{item.gender}} {{item.type}}
                        </div>
                        <div class="cart-text-item cart-size-block">
                            Size: {{item.size}}
                        </div>
                        <div class="cart-text-item">
                            ${{item.cost}}
                        </div>
                    </div>
                </transition-group>
            </div>
            <form class="order" id='buyAll' v-if="cart.length">
                <h3 class="mb-2 text-center">Please fill in your details</h3>
                <h6 class="mb-5 text-center">in order to we can send you an order</h6>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">First name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="First name">
                    </div>
                    <div class="col-md-6">
                        <label for="lastname">Last name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email-adress">Email</label>
                    <input type="email" class="form-control" id="email-adress" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCoutry">Country</label>
                        <select id="inputCoutry" class="form-control">
                            <option selected>Choose...</option>
                            <option>USA</option>
                            <option>Ukraine</option>
                            <option>Poland</option>
                            <option>Germany</option>
                            <option>Russia</option>
                            <option>Angola</option>
                            <option>China</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <h3 class="mt-5 mb-5" id='totalCost'>All total: ${{total_cost}}</h3>
                <button type="submit" class="btn btn-primary">Buy All</button>
            </form>
            <div class="empty_cart" v-else>
                <h3>Ваша корзина пуста!</h3>
                <h6>Вернитесь к покупкам!</h5>
            </div>
        </div>
        <div class="footer">
            <div class="cont-footer">
                <div class="left-footer">
                    <img src="img/logo.png" class="logo-footer">
                    <ul>
                        <li>
                            <a href="#" class="a_footer">Home</a>
                        </li>
                        <li>
                            <a href="#" class="a_footer">Blog</a>
                        </li>
                        <li>
                            <a href="#" class="a_footer">About</a>
                        </li>
                        <li>
                            <a href="#" class="a_footer">FAQ</a>
                        </li>
                    </ul>
                    <div class="social">
                        <i class="fab fa-vk fa-2x soc-fa"></i>
                        <i class="fab fa-facebook-f fa-2x soc-fa"></i>
                        <i class="fab fa-instagram fa-2x soc-fa"></i>
                        <i class="fab fa-twitter fa-2x soc-fa"></i>
                    </div>
                    <p class="footer-rights">© 2018 Fasion socks company.  All rights reserved.</p>
                </div>
                <div class="right-footer">
                    <h4 class="contact-title">Contact Us</h4>
                    <div class="callback-form">
                        <input type="email" class="input-email" placeholder="example@email.com">
                        <textarea name="message" class="text-message" placeholder="Your message here"></textarea>
                        <button type="button" class="btn btn-dark mt-3">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="cart.js"></script>
    <script src="script.js"></script>
    <script src="button_handler.js"></script>
</body>

</html>