<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="frameworks/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
        crossorigin="anonymous"></script>
    <script src="frameworks/vue.js"></script>
    <link rel="stylesheet" href="css/profile.css">
    <title>Profile</title>
</head>

<body>
    <div class="profile-app">
        <div class="header">
            <div class="header-cont">
                <a href="about.html" class="nav_about">ABOUT US</a>
                <!-- <a href="#" class="nav_faq">FAQ</a> -->
                <a href="index.html" class="nav_shop">SHOP</a>
                <a href="index.html" class="nav_logo"> FASHION SOCKS</a>
                <div>
                    <i class="fas fa-shopping-cart img_nav_cart"></i>
                    <a href="/myCart" class="nav_cart">CART({{cart.length}})</a>
                </div>
                <a v-if="!is_user" href="login.html" id='login' class="nav_cart"> LOGIN</a>
                <div v-if="is_user" class="dropdown">
                    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#" id='exitFromProfile'>Sign out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-nickname">
            <h4>Welcome back {{name}}!</h4>
            <h4>You can to see your orders here.</h4>
        </div>
        <div class="cart-cont">
            <div class="cart-items" v-if="orders.length">
                <div class="order" v-for="(order, index_order) in orders">
                    <div class="order-number">
                        Order №{{index_order+1}}
                    </div>
                    <div class="order-info">
                        <table>
                            <tr>
                                <td style="width: 180px;"><h6><big>Full name:</big></h6></td>
                                <td><h6>{{order.firstname}} {{order.lastname}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6><big>Email:</big></h6></td>
                                <td><h6>{{order.email}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6><big>Adress:</big></h6></td>
                                <td><h6>{{order.adress}}</h6></td>
                            </tr>
                            <tr>
                                    <td><h6><big>&nbsp;</big></h6></td>
                                    <td><h6>{{order.city}} {{order.country}} {{order.zip}}</h6></td>
                            </tr>
                            <tr>
                                    <td><h6><big>Order date:</big></h6></td>
                                    <td><h6>{{order.dateBuy}}</h6></td>
                            </tr>
                            <tr>
                                    <td><h6><big>&nbsp;</big></h6></td>
                                    <td><h6>&nbsp;</h6></td>
                            </tr>
                            <tr>
                                    <td><h6><big>Total cost:</big></h6></td>
                                    <td><h6>{{order.cost}}</h6></td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <div class="cart-item" v-for="(item, index) in order.arrSocks">
                        <img v-if="isValidUrl(item.user_picture)" :src="item.user_picture" class="cart-bg-socks">
                        <img v-else src="http://placehold.it/170x120/" class="cart-bg-socks">
                        <div class="cart-text-item cart-info-block">
                            Socks {{item.gender}} {{item.type}}
                        </div>
                        <div class="cart-text-item cart-size-block">
                            Size: {{item.size}}
                        </div>
                        <div class="cart-text-item">
                            ${{item.cost}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty_cart" v-else>
                <h3>Заказы отсутствуют!</h3>
                <h6>Вернитесь к покупкам!</h5>
            </div>
        </div>
        <div class="footer">
            <div class="cont-footer">
                <div class="left-footer">
                    <img src="img/logo.png" class="logo-footer">
                    <ul>
                        <li>
                            <a href="#" class="a_footer">Home</a>
                        </li>
                        <li>
                            <a href="#" class="a_footer">Blog</a>
                        </li>
                        <li>
                            <a href="#" class="a_footer">About</a>
                        </li>
                        <li>
                            <a href="#" class="a_footer">FAQ</a>
                        </li>
                    </ul>
                    <div class="social">
                        <i class="fab fa-vk fa-2x soc-fa"></i>
                        <i class="fab fa-facebook-f fa-2x soc-fa"></i>
                        <i class="fab fa-instagram fa-2x soc-fa"></i>
                        <i class="fab fa-twitter fa-2x soc-fa"></i>
                    </div>
                    <p class="footer-rights">© 2018 Fasion socks company.  All rights reserved.</p>
                </div>
                <div class="right-footer">
                    <h4 class="contact-title">Contact Us</h4>
                    <div class="callback-form">
                        <input type="email" class="input-email" placeholder="example@email.com">
                        <textarea name="message" class="text-message" placeholder="Your message here"></textarea>
                        <button type="button" class="btn btn-dark mt-3">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/script.js"></script>
    <script src="scripts/button_handler.js"></script>
</body>

</html>